label
{
	font-size: 20px !important;
	font-style: italic;
}

button, input, select[multiple], textarea
{
	height: 40px;
	width: 247px;
	border-radius: 15px;
}

.input-group .form-control
{
	height: 41.5px !important;
	width: 200px;
	font-size: 20px !important;
}

.input-group-addon:first-child
{
	height: 40px !important;
}

#gestionCompte
{
	width: 80%;
}

#adresse
{
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 40px;
}
#fieldset1
{
	flex-grow: 1;
}
#fieldset2
{
	flex-grow: 1;
}