.btn-warning
{
	width: 250px !important;
	height: 55px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	border-radius: 15px; 
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.btn-default
{
	width: 250px !important;
	height: 55px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	border: 2px solid  #9dcb01 !important;
	color: #9dcb01 !important;
	border-radius: 15px; 
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.btn-danger
{
	width: 50px !important;
	height: 50px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	border-radius: 15px; 
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	margin-right: 25px;
}

.btn-secondary
{
	width: 48px !important;
	height: 48px !important;
	font-size: 25px !important;
	font-weight: bold !important;
	border-radius: 25px; 
	border: 3px solid #9dcb01 !important;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	margin-left: 25px;
	padding: 0px 0px 4px 0px;
}

#boutonBas
{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.input-group-addon:first-child
{
	height: 50px !important;
	border-radius: 15px 0px 0px 15px; 
	font-size: 22px !important;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	text-align: center;
	font-style: italic;
}

.input-group .form-control
{
	height: 50px !important;
	font-size: 22px !important;
	text-align: center;
}