.btn-warning
{
	width: 255px !important;
	height: 40px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	border-radius: 15px; 
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	margin-top: 0px;
}


