.btn-warning
{
	width: 250px !important;
	height: 50px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	border-radius: 15px; 
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	
}


