@charset "ISO-8859-1";

.btn_magasin{
	background-color: grey;
}

.errorMessage {
	color: red;
}

.required:before { 
	content:"* ";
	color: red;
}

.vide{
	display: block !important; 
	height: 100 !important;
	width: 100% !important;
}

#formGestionCompteClient{
	top: 20% !important;
	background-color: red !important;
}

.test
{
	background-color: red;
	color: white;
	font-size: 30px;
}