th.sorting {
	text-align: center;
	vertical-align: middle;
}


h3
{
	color: rgb(0, 136, 143); 
	font-weight: bold; 
	text-align: center;
}


#principal{
	position: relative;
	width: 100%;
	padding: 0;
}


/**************************
		MASTERPAGE
**************************/

/*** HEADER ***/

#navbar-brand
{
	margin: 0px;
	padding:0px;
}

#navbar-brand img
{
	height:100%;
	width:auto;
}

.navbarLinks
{
	padding:20px;
}

.btn_magasin
{
	font-size: 1.2em
}
.btn_magasin:hover
{
	color: #FFF726;
	font-weight: bold;
}

/****************************************
              FOOTER                  
****************************************/



footer
{
	padding-top: 20px;
    background-color:#222222;
    color: #FFF726;
}
.contenantFooter
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenantFooter>div
{
    display:flex;
    flex-direction: row;
    margin-left:75px;
}

.formInfo 
{
	margin-bottom: 5px;
	font-size: 1.2rem;
	text-align: right;
}
.texteContact 
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 25px;
}


.basBasDePage
{
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-bottom: 25px;
    color: #FFF726; 
}
.basBasDePage a
{
    margin-right: 25px;
    text-decoration: none;
}

#copyright
{
	color: #FFF726; 
	text-align: center;
}

#citron
{
	color: #FFF726; 
	font-weight: bold; 
	text-align: center;
}

#lien1,
#lien2,
#lien3
{
	color: white;
}
