@charset "ISO-8859-1";

html,
body
{
	margin: 0px;
	padding: 0px;
}

.errorMessage {
	color: red;
}

.required:before { 
	content:"* ";
	color: red;
}

h3
{
	color: rgb(0, 136, 143); 
	font-weight: bold; 
	text-align: center;
}


/**************************

		MASTERPAGE
		
**************************/

	/*** HEADER ***/


.navbar
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

#navbar-brand img
{
	height:100%;
	width:auto;
}

.navbarLinks
{
	padding:20px
}

h4
{
	color: #96c001 !important; 
	font-weight: bold; 	
}

navbar-footer
{
	margin-top: 50px;
}

.navbar-inverse .navbar-nav > li > a 
{
	color:  #c0c0c0!important ;
	font-size: 22px;
}
	
.navbar-inverse .navbar-nav > li > a:hover 
{
color: #ffffff!important;
border-bottom: 1px solid #FFF726 !important ;
}

.modal-header
{
	padding: 5px 8px 5px 5px !important;
	background-color: #96c001 !important;
}

.btn-warning 
{
	
	background-color: #9dcb01!important;
	border: 2px solid   #96c001 !important;
}

.btn-default 
{
	border: 2px solid  #9dcb01 !important;
}


	/*** FOOTER ***/

footer
{
	padding-top: 15px;
    background-color:#222222;
    color: #FFF726;
}
.contenantFooter
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenantFooter>div
{
    display:flex;
    flex-direction: row;
    margin-left:75px;
}

.formInfo 
{
	margin-bottom: 5px;
	font-size: 1.2rem;
	text-align: right;
}
.texteContact 
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 25px;
}


.basBasDePage
{
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-bottom: 25px;
    color: #FFF726; 
}
.basBasDePage a
{
    margin-right: 25px;
    text-decoration: none;
}

#copyright
{
	color: #FFF726; 
	text-align: center;
}

#citron
{
	color: #FFF726; 
	font-weight: bold; 
	text-align: center;
	margin: 10px 0px 10px 0px;
}

#lien1,
#lien2,
#lien3
{
	color: white;
}


/**************************

	ACCUEIL CLIENT
	
**************************/

	/*** CAROUSEL ***/

carousel{
	height: auto;
	width: auto;
	padding: 0px;
	margin: 0px;
}

carouselItem{
	height: auto;
	padding: 0;
	margin: 0;
}

carouselItem > img{
	display: block;
	width: 100%;
	height: auto;
}

#carousel
{
	interval: 2500;
}

.carousel-inner img
{
  width: 100%;
  height: 100%;
}
.carousel-caption
{
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

#carousel-captionStep1
{
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}
.carousel-caption h1
{
  font-size: 500%;
  text-shadow: 1px 1px 10px black;
}
.carousel-caption h2
{
  font-size: 400%;
  text-shadow: 1px 1px 10px black;
}
#carousel-captionStep2
{
  position: absolute;
  top: 61%;
  transform: translateY(-50%);
}
.lead
{
  text-align: justify;
}

/*** FOOTER CAROUSEL ***/

#footer_carousel
{
	padding-top: 30px;
	padding-bottom: 30px;
    background-color:#222222;
    color: #FFF726;
}

/*** JUMBOTRON ***/

.jumbotron
{
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

#nousConnaitre
{
	border-bottom: 1px solid black;
}


/*** BOUTON JE M INSCRIS ***/

.inscription
{
	text-align:  center;
	padding-bottom: 30px;
	background-color: #eeeeee;	
	z-index: 1;
}


#jeMInscris
{
  color: rgb(4,66,87) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 210px;
  height: 50px;
  background: white;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5px;
  transition: 1s box-shadow !important;
}

#jeMInscris:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1) !important;
  color: #96c001 !important;
  text-decoration: none;
}

#jeMInscris:hover:before,
#jeMInscris:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 210px;
  height: 50px;
  background: #FFF726 !important;
  border-radius: 25px;
  z-index: -1;
  animation: 1s clockwise infinite !important;
}

#jeMInscris:hover:after {
  background: #96c001 !important;
  animation: 1.5s counterclockwise infinite !important;
}

@keyframes clockwise {
  0% {
    top: -2px;
    left: 0;
  }
  12% {
    top: -1px;
    left: 1px;
  }
  25% {
    top: 0;
    left: 2px;    
  }
  37% {
    top: 1px;
    left: 1px;
  }
  50% {
    top: 2px;
    left: 0;    
  }
  62% {
    top: 1px;
    left: -1px;
  }
  75% {
    top: 0;
    left: -2px;
  }
  87% {
    top: -1px;
    left: -1px;
  }
  100% {
    top: -2px;
    left: 0;    
  }
}

@keyframes counterclockwise {
 0% {
    top: -2px;
    left: 0;
  }
  12% {
    top: -1px;
    left: 1px;
  }
  25% {
    top: 0;
    left: 2px;    
  }
  37% {
    top: 1px;
    left: 1px;
  }
  50% {
    top: 2px;
    left: 0;    
  }
  62% {
    top: 1px;
    left: -1px;
  }
  75% {
    top: 0;
    left: -2px;
  }
  87% {
    top: -1px;
    left: -1px;
  }
  100% {
    top: -2px;
    left: 0;    
  }
}
}

#jeMInscris1
{
	color: rgb(4,66,87) !important;
	font-size: 20px;
	padding: 30px 50px;
	margin: 30px 300px 30px 0px;
	border: 5px solid rgb(4,66,87);
	border-radius: 25px;
	box-shadow: 0 15px 25px rgba(0,0,0,.2);
	
}

#jeMInscris1:hover
{
	text-decoration: none;
	transition: .3s ease !important;
	font-size: 40px;
	color: #96c001 !important;
	border: 5px solid #96c001;
}


/**************************
	CATALOGUE CLIENT
**************************/

#formCatalogueClient
{
	/* background-image: url('../pics/carousel/champignon.jpg'); */
}

.sorting
{
	text-align: center !important;
	vertical-align: middle !important;
}

/**************************

	FICHE PRODUIT CLIENT
	
**************************/



/*************************
	TEST A EFFACER
*************************/

