
.btn-warning
{
	width: 100% !important;
	height: 50px !important;
	font-size: 22px !important;
	font-weight: bold !important;
	border-radius: 15px; 
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	margin: auto;
	
}
.thumbnail{
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
}


#commandeTraite{
	display: flex;
}

#infoJS{
	visibility:hidden;
}

