h3
{
	color: rgb(0, 136, 143); 
	font-weight: bold; 
	text-align: center;
}

	/*** DATA TABLE ***/
	
.table
{
	border-radius: 25px !important;
	border: 2px solid #FFF726 !important;
}



.table td, .table th
{
	text-align: center !important;
	vertical-align: middle !important;

}



/* header du datatable*/

.sorting
{
	background-color: rgba(150, 192, 1 , 0.7) !important;
	font-size: 16px !important;
	
	
}

/* images à l'intérieur d'une row du datatable*/

.table td > img, .table th > img
{
	border: 2px solid #FFF726 !important;
	border-radius: 35px !important;

}

/* lignes impaires du datatable */

table tr:nth-child(odd) td
{
           background-color: rgba(150, 192, 1 , 0.1) !important;
}


/* lignes paires du datatable */

table tr:nth-child(even) td
{
           background-color: rgba(150, 192, 1 , 0.3) !important;
}


/* coin haut-gauche arrondi du datatable */

.sorting:first-child {
	border-radius : 25px 0px 0px 0px !important;
}

/* coin haut-droit arrondi du datatable */

.sorting:last-child {
	border-radius : 0px 25px 0px 0px !important;
}


/* coin bas-gauche arrondi du datatable */

table tr:last-child td:first-child
{

	border-radius : 0px 0px 0px 25px !important;
}

/* coin bas-droit arrondi du datatable */

table tr:last-child td:last-child
{

	border-radius : 0px 0px 25px 0px !important;
}

/**************************
		MASTERPAGE
**************************/

/*** HEADER ***/

#navbar-brand
{
	margin: 0px;
	padding:0px;
}

#navbar-brand img
{
	height:100%;
	width:auto;
}

.navbarLinks
{
	padding:20px;
}

.btn_magasin
{
	font-size: 22px;
}

.navbar-inverse .navbar-nav > li > a 
{
	color:  #c0c0c0!important ;
}
	
.navbar-inverse .navbar-nav > li > a:hover 
{
color: #ffffff!important;
border-bottom: 1px solid #FFF726 !important ;
}

/****************************************
              FOOTER                  
****************************************/



footer
{
	padding-top: 20px;
    background-color:#222222;
    color: #FFF726;
    top: 85%;
    width: 100%;
    margin: 0;
}
.contenantFooter
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenantFooter>div
{
    display:flex;
    flex-direction: row;
    margin-left:75px;
}

.formInfo 
{
	margin-bottom: 5px;
	font-size: 1.2rem;
	text-align: right;
}
.texteContact 
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 25px;
}


.basBasDePage
{
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-bottom: 25px;
    color: #FFF726; 
}
.basBasDePage a
{
    margin-right: 25px;
    text-decoration: none;
}

#copyright
{
	color: #FFF726; 
	text-align: center;
}

#citron
{
	color: #FFF726; 
	font-weight: bold; 
	text-align: center;
}

#lien1,
#lien2,
#lien3
{
	color: white;
}
