/*************************
		GENERAL
*************************/
h3
{
	color: rgb(0, 136, 143); 
	font-weight: bold; 
	text-align: center;
	margin-top:5%;
	margin-bottom:5%;
}

/*** ACCUEIL ADMIN ***/

#infoJS{
	visibility:hidden;
}

#charts{
	display: flex;
}

#btnLienReporting{
	position: relative;
	left: 40%;
	margin-bottom: 50px;
}

	/*** DATA TABLE ***/
	
.table
{
	border-radius: 25px !important;
	border: 2px solid #FFF726 !important;
}
.table td, .table th
{
	text-align: center !important;
	vertical-align: middle !important;

}

/* header du datatable*/

.sorting
{
	background-color: rgba(150, 192, 1 , 0.7) !important;
	font-size: 16px !important;
}

/* images à l'intérieur d'une row du datatable*/

.table td > img, .table th > img
{
	border: 2px solid #FFF726 !important;
	border-radius: 35px !important;
}

/* lignes impaires du datatable */

table tr:nth-child(odd) td
{
           background-color: rgba(150, 192, 1 , 0.1) !important;
}

/* lignes paires du datatable */

table tr:nth-child(even) td
{
           background-color: rgba(150, 192, 1 , 0.3) !important;
}


/* coin haut-gauche arrondi du datatable */

.sorting:first-child {
	border-radius : 25px 0px 0px 0px !important;
}

/* coin haut-droit arrondi du datatable */

.sorting:last-child {
	border-radius : 0px 25px 0px 0px !important;
}


/* coin bas-gauche arrondi du datatable */

table tr:last-child td:first-child
{

	border-radius : 0px 0px 0px 25px !important;
}

/* coin bas-droit arrondi du datatable */

table tr:last-child td:last-child
{

	border-radius : 0px 0px 25px 0px !important;
}



/**************************
		MASTERPAGE
**************************/

/*** HEADER ***/

#navbar-brand
{
	margin: 0px;
	padding:0px;
}

#navbar-brand img
{
	height:100%;
	width:auto;
}

.navbarLinks
{
	padding:20px;
}

.btn_magasin
{
	font-size: 22px;
}

.navbar-inverse .navbar-nav > li > a 
{
	color:  #c0c0c0!important ;
}
	
.navbar-inverse .navbar-nav > li > a:hover 
{
color: #ffffff!important;
border-bottom: 1px solid #FFF726 !important ;
}

/*** FOOTER  ***/

footer
{
	padding-top: 20px;
    background-color:#222222;
    color: #FFF726;
    top: 85%;
    width: 100%;
    margin: 0;
}
.contenantFooter
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenantFooter>div
{
    display:flex;
    flex-direction: row;
    margin-left:75px;
}

.formInfo 
{
	margin-bottom: 5px;
	font-size: 1.2rem;
	text-align: right;
}
.texteContact 
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 25px;
}


.basBasDePage
{
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding-bottom: 25px;
    color: #FFF726; 
}
.basBasDePage a
{
    margin-right: 25px;
    text-decoration: none;
}

#copyright
{
	color: #FFF726; 
	text-align: center;
}

#citron
{
	color: #FFF726; 
	font-weight: bold; 
	text-align: center;
}

#lien1,
#lien2,
#lien3
{
	color: white;
}

/*************************
	FICHE ARTICLE
*************************/


/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container1 {
  max-width: 1200px;
  margin: 22px  auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 120px;
}

/* Left Column */
.left-column graphicImage {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column graphicImage.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description .span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
#nomCategorie
{
	margin-bottom: 20px;
}
.product-description .h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description .p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
#descriptif
{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Product Color */
.product-color {
 	margin-top: 50px;
 	font-size: 20px;
 	font-weight: 100;
 	letter-spacing: 0px;
}
 
.color-choose div {
  display: inline-block;
}
 


/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price .span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container1 {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column graphicImage {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column graphicImage {
    width: 220px;
    top: -85px;
  }
}
